html, body
{
background-color: #dadada;
color: #000000;
margin-top: 10px;
font-family: 'Trebuchet MS', Arial, sans-serif;
}
div#strona
{
width: 800px;
margin: 0 auto;
padding: 10px;
background-color: #FFb6C1;
}
div#naglowek
{
height: 100px;
padding: 10px;
background-color: #c71585;
color: #ffffff;
}
div#menu
{
width: 150px;
float: left;
overflow: hidden;
padding: 10px;
background-color: #db7093;
}
div#menu ul
{
list-style-type: none;
}
div#zawartosc
{
overflow: hidden;
padding: 20px;
background-color: #FFc0CB;
}
div#stopka
{
clear: both;
padding: 10px;
background-color: #DB7093;
color: #ffffff;
}